/*
Class: COSC 231.1
Name: Yasrib Yasir Farook
EID: E02726322
Project: 01
Date: 2024-10-19 SAT T 23:59:59 Z-04:00
Requires: Must be placed in the css/ folder relative to the HTML file.
Description: This CSS file styles the HTML elements of Project 01, including
             the header, footer, tables, and buttons. It ensures consistent
             layout, background colors, and hover effects for a better user 
             experience.
*/
body {
    background-color: lightgrey;
}

hr {
    margin: 20px;
    border: 3px solid #7C8363;
    border-radius: 3px;
}

header, footer {
    margin: 20px;
    background-color: #EDF4F2;
    color: #31473A;
}

#my_output, #my_input {
    margin: 40px;
}

#my_table {
    color: #31473A;
    background-color: #EDF4F2;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th:hover, td:hover {
    background-color: lightgrey;
}
